body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Darker background for better contrast */
    color: #ffffff; /* White text */
    padding: 20px;
    margin: 0; /* Reset margin for body */
}

.navbar {
    background-color: #1f1f1f; /* Darker grey for navbar */
    border-bottom: 2px solid #ff77a8; /* Pink border for emphasis */
}

.navbar-brand, .nav-link {
    color: #00aaff; /* Light blue for links */
}

.navbar-brand:hover, .nav-link:hover {
    color: #ff77a8; /* Pink on hover */
    text-decoration: underline; /* Underline effect on hover */
}

.header {
    text-align: center;
    margin-bottom: 50px;
    padding: 40px; /* Increased padding */
    background-color: #2a2a2a; /* Dark grey background for header */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.7); /* Enhanced shadow effect */
}

.header h1 {
    font-size: 2.8em; /* Slightly larger font size */
    margin-bottom: 10px;
    color: #ff77a8; /* Pink for header */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Enhanced shadow */
}

.header p {
    font-size: 1.4em; /* Increased font size for better readability */
    color: #cccccc; /* Light grey for header description */
}

.project {
    padding: 20px;
    background-color: #2a2a2a; /* Dark grey for projects */
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.project h2 {
    margin-top: 0;
    color: #ff77a8; /* Pink for project headers */
}

.project p {
    color: #cccccc; /* Light grey for project description */
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1f1f1f; /* Darker grey for footer */
    color: #ffffff;
    margin-top: 50px;
    border-top: 2px solid #ff77a8; /* Pink border for footer */
}

.social-icons a {
    color: #00aaff; /* Light blue for social icons */
    margin: 0 10px;
    font-size: 1.5em;
}

.social-icons a:hover {
    color: #ff77a8; /* Pink on hover */
}

a {
    color: #00aaff; /* Light blue for links */
}

a:hover {
    color: #ff77a8; /* Pink on link hover */
}

.container {
    max-width: 800px; /* Limiting the width for better readability */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding for the container */
}

.project-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

.project-list li {
    background-color: #333; /* Dark grey for list items */
    margin: 10px 0; /* Margin between items */
    padding: 15px; /* Padding for items */
    border-radius: 5px; /* Rounded corners for items */
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5); /* Shadow effect for items */
}
